/** mobile devices **/
@media screen and (max-width: 500px) {
.biz-logo,
.rgt-logo{
    text-align: center;
}
    
.img-responsive{
    display: inline-block;
    margin: 0 auto;
}
    
.biz-logo{
    float: none;
    margin-right: 0;
    display: block;
}

.rgt-logo{
    margin-bottom: 20px;
}
    
.slide{
	margin-bottom: 30px;
}
    
.caption p {
    display: none;
}
    
.caption .news-title {
  margin-bottom: 0;
  font-weight: normal;
    font-size: 16px;
}

.gallery ul li {
    width: 270px;
}

#main-menu1 {
	display:none;
}

.pull-right{
	float: none !important;}
	
.stream {
    float: none;
    text-align: center;
    margin-top: 24px;
}

.main-content{
	margin-bottom: 30px;}
	
.content-img img {
    width: 100%;
}

.media-left, .media-right, .media-body {
    display: block;
    margin-bottom: 10px;
    width: auto;
}

.team{
	display: block;
}
	
.live-radio {
    margin-left: 0px;
}

h4.listen {
    left: 63px !important;
}

div.jp-volume-bar {
    width: 60px !important;
}
    
a.jp-play, a.jp-pause, a.jp-volume-max {
  margin-right: 0 !important;
  margin-left: 10px;
}
    
.onair {
  padding: 15px;
}
    
.social-media {
  right: 0;
}
    
.highlight .panel-body ul li {
    margin-bottom: 11px;
}
    
.highlight p{
    font-size: 20px;
}
    
.highlight span.list-num{
    font-size: 26px;
    height: 100%;
    padding-top: 10px;
    height: 60px;
}
    
span.list-num {
  font-size: 18px;
  height: 100%;
  width: 50px;
    padding-top: 0;
    padding-bottom: 10px;
}
	
}



/** small tablet **/
@media screen and (min-width: 501px) and (max-width: 767px) {
.onair {
  padding: 15px;
}
    
.social-media {
  right: 0;
}
	
}


/** tablet **/	
@media screen and (min-width: 768px) and (max-width: 960px) {
.navigation ul.sm-blue > li a {
  line-height: 22px;
}
    
 div.jp-volume-bar {
  width: 72px;
}
    
.onair {
  padding: 15px;
}
    
.social-media {
  right: 0;
}

.gallery ul li {
  width: 215px;
}

.onair-block h4 {
  font-size: 16px;
}

.link-btn a {
  margin-right: 2px;
  padding: 3px 6px;
}

.archive .link-btn a {
  margin-right: 2px;
  padding: 3px 6px;
}

.news-list ul li a i {
  margin-right: 4px;
}

.stream {
  margin-top: 12px;
}

.team {
  display: block;
  height: 82px;
}

.content-img img {
  width: 221px;
}

.side-content .media-left, .side-content .media-right, .side-content .media-body {
    display: block;
    margin-bottom: 10px;
    width: auto;
}
    
.price-list .text {
  margin-top: 0px;
}
	
.price-list .text h5{
    font-size: 14px;
}
    
}


/** desktop **/	
@media screen and (min-width: 961px) and (max-width: 1120px) {
.team {
  display: block;
  height: 82px;
}

.gallery ul li {
  width: 189px;
}
    
.social-media {
  right: 0;
}

	
}


/** bigger screen  **/
@media screen and (min-width: 1121px) {
	
}