/** global style **/
body{
	font-family: 'Open Sans', sans-serif;
	display: block;
	height: 100%;
	color: #666;
	line-height: 25px;
	font-size: 14px;
	background: #f1f1f1;
	}
	
	
h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	color: #363636;
}

h1{
	font-size: 22px;}
	
h2{
	font-size: 24px;}
	
h3{
	font-size: 22px;}

h4{
	font-size: 18px;}

h5{
	font-size: 16px;}

h6{
	font-size: 14px;}
	
a{
	transition: all 0.5s ease;
	color: #2964a0;}

a:hover{
	text-decoration: none;
	color: #00519a;}
	
ul{
	padding: 0;
	margin: 0;}
	
ul li{
	list-style: none;
}
	
figure img{
	width: 100%;}

.cm-row{
	margin: 0 -8px;
}

.cm-row .col-md-3, .cm-row .col-md-4, .cm-row .col-md-5, .cm-row .col-md-6, .cm-row .col-md-7, .cm-row .col-md-8, .cm-row .col-md-9, .cm-row .col-md-10, .cm-row .col-md-11, .cm-row .col-md-12,
.cm-row .col-lg-1, .cm-row .col-lg-2, .cm-row .col-lg-3, .cm-row .col-lg-4, .cm-row .col-lg-5, .cm-row .col-lg-6, .cm-row .col-lg-7, .cm-row .col-lg-8, .cm-row .col-lg-9, .cm-row .col-lg-10, .cm-row .col-lg-11, .cm-row .col-lg-12 {
 padding-left: 8px;
 padding-right: 8px;
}
	
.btn-log{
	background: #2864a2;
	border-radius: 0;
	border:0;
	color: #fff;
	transition: all 0.5s ease;}

.btn-red{
    background: #242bba;
}

.btn-red:hover{
   background: #2864a2; 
}
	
.btn-log:hover{
	color: #fff;
	background: #242bba;}
	
.form-control {
	height: 42px;
	}
	
.form-inline .form-group {
	margin-right: 10px;
	}
	
.form-control{
	border-radius: 0px;}

	
.form-control {
	height: 42px;
	font-size: 13px;
	}
	
.form-inline .form-group {
	margin-right: 10px;
	}
	
.form-control{
	border-radius: 0px;}

.title,.title a{
    color: #444;
}


/** home page begins **/
/** TOP NAV **/
	
.inner-wrap{
	background: #fff;
	box-shadow: 0 0 4px 0px rgba(0,0,0,0.4);
	padding: 0 20px 20px;
}

.top-nav {
    background: #2964a0;
    margin-bottom: 20px;
}

.biz-logo {
    display: inline-block;
    float: left;
    margin-right: 30px;
}

.rgt-logo{
    margin-top: 10px;
}

.navbar{               
	margin-bottom: 0;
	border: 0;
	min-height: 0;
}
	
.navbar-collapse,
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
	
.social-media,
.stream{
	float: right;}
	

header{
	padding: 20px 0;
}

p{
	text-align: justify;
}

	
/** NAVIGATION **/
@media screen and (max-width: 767px) {
.navigation ul.sm-blue > li a {
  width: 85%;
}	

}

	
.navbar-toggle .icon-bar {
  background: #333;
}

.top-news.pg-section{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd; 
	padding: 10px 20px;
	text-align: center;
	color: #333;
	margin-bottom: 30px;}
	
blockquote {
  border-left: 0px solid #fd0237;
  margin-bottom: 0;
  text-align: center;
}

.news-tag{
	background: #ff0000;
	color: #fff;
	padding: 3px 10px;
	font-size: 13px;
	line-height: 15px;
	display: inline-block;
	text-align:left;
	}
	
.top-news blockquote p a{
	font-size: 30px;
	line-height: 40px;}
	
.top-news blockquote p a:hover{
	color: #222;}
	
.news-title a,
.news-title{
	line-height: 25px;
    color: #19549a;
	}

.news-title a:hover{
    color: #00519a;
}
	
.news-img{
	position: relative;
	margin-bottom: 10px;
	}
	
.date{
	position:absolute;
	padding: 5px 10px;
	color: #fff;
	background: rgba(0,0,0,0.3);
	bottom: 0;
	left: 0;
	width: 100%;}
	
.date span{
	margin-right: 10px;
	}
	
.date span i{
	margin-right: 5px;
	}

/** content section **/
.pg-section{
	padding: 10px;
	/**box-shadow: 0 0 4px 0px rgba(0,0,0,0.2); **/
	margin-bottom: 30px;
	}
	
	
.carousel-inner > .item > img{
	width: 100% !important;
}

	
.carousel-caption {
	left: 0%;
	padding-bottom: 30px;
	right: 0;
	text-align: left;
	padding:  10px 20px;
	background: rgba(0,0,0,0.3);
	bottom: -20px;
	z-index: 99;
	} 	

.caption p{
	margin-bottom: 0;
    line-height: 20px;}
	
.carousel-control.right,
.carousel-control.left{
	background-image: none;
	}
	
.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right {
	top: 40%;
	}
	
.caption {
    background: #fff;
    font-size: 14px;
    padding: 10px 0px;
    /*position: absolute;
    bottom: 0;*/
    color: #363636;
    width: 100%;
}

.caption .news-title{
    font-weight: 600;
    color: #00519a;
    line-height: 20px;
}

a.color-link{
    color: #00519a;
}

a.color-link:hover{
    color: #2964a0;
}

.onair{
    background: #eee;
    padding: 35px;
    margin-bottom: 30px;
}
	
.onair-block{
	padding-bottom: 30px;}

.onair-block p{
    color: #333; 
    margin-bottom: 0;
    line-height: 18px;
}
	
.block-tag {
	padding: 5px;
	text-transform: uppercase;
	margin-bottom: 15px !important;
	font-weight: 700;
	color: #fff !important;
    display: inline-block;
    background: #000;
	}
	
.block-tag i{
	margin-right: 7px;
    color: #fff;
}

.onair-block h4{
    color: #19549a;
    font-style: italic;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}


	
.text .news-head{
	border-bottom: 0;
	line-height: 30px;
	padding: 0;
    background: none;
    margin-bottom: 10px;
    color: #333;
}

.heading{
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}

.news-head {
    background: #006699;
    color: #fff;
    display: inline-block;
    line-height: 25px;
    margin-bottom: 0;
    padding: 5px 15px;
}

.news-head small{
    color: #aaa;
    font-size: 13px;
}
	
.news-list ul li,
.event-list div{
	padding-bottom: 12px;
    margin-bottom: 12px;
	border-bottom: 1px dashed #ddd;

 }
	
.news-list ul li:last-child,
.event-list div:last-child,
.archive .news-list ul li:last-child{
	border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
	
.news-list ul li a{
	color: #19549a;
	line-height: 20px;
}
	
.news-list ul li a i{
	margin-right: 10px;
	}
	
.news-list ul li a:hover{
	color: #fd0237;}
	
.news-list ul li p{
	font-size: 16px;
	}
	
.team{
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	height:100px;
	display: table;}
	
.team span{
	display: table-cell;
	vertical-align: middle;}
	
.team p{
	color: #E71D41;}
	
/** gallery **/
.gallery ul li{
	display: inline-block;
	width: 24.60%;
    	margin: 0 0 2px 0;
}
	
.archive ul li p{
	font-size: 19px;
    	color: #363636;
    	margin-bottom: 5px;
	}

a.link{
	float: right;
	color: #666;
	font-size: 12px;}

a.link:hover{
   	color: #E71D41;
}
	
a.link i{
	margin-left: 5px;
	}
	
.link-btn a{
	color: #00519a !important;
	margin-right: 10px;
	}
	
.link-btn a:hover{
    	color: #2964A0 !important;}
	
.link-btn a i{
	margin-right: 3px;
	display: inline-block;}
	
.ad-box{
	margin-bottom: 30px;}
	
span.list-num {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 22px;
    height: 65px;
    width: 60px;
    margin-right: 15px;
    text-align: center;
    background: #19549a;
    font-weight: 600;
    padding-top: 8px
}

.list-num p{
    line-height: 1px;
    color: #fff !important;
    padding-top: 12px;
    font-size: 14px !important;
}

.archive ul li{
    padding: 15px 0;
}

.archive .news-list ul li{
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 0;
}

.highlight{
    font-size: 19px;
    color: #333;
}

.highlight span.list-num{
    background: none;
    font-size: 32px;
    color: #19549a;
    height: 42px;
    width: 40px;
}

.highlight .panel-body ul li{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #f1f1f1;
}

.safalta .panel-body ul li{
    margin-bottom: 20px;
}


.highlight p{
    margin-bottom: 5px;
}

.highlight small{
    font-size: 13px;
}


.highlight .panel,
.notice .panel,
.sthaniya .panel,
.haat-bajar .panel,
.safalta .panel{
    box-shadow: none; 
    margin-bottom: 0;
}

.highlight .panel-default,
.notice .panel-default,
.sthaniya .panel-default,
.haat-bajar .panel-default,
.safalta .panel-default{
    border: 0;
}

.highlight .panel-body,
.notice .panel-body,
.sthaniya .panel-body,
.haat-bajar .panel-body,
.safalta .panel-body{
    padding: 0;
}

.panel-footer {
  background-color: transparent;
  border-top: 0 none;
  padding: 0;
  position: absolute;
  right: 7px;
  top: 10px;
    font-size: 18px;
}

.panel-footer .pagination > li > a, .panel-footer .pagination > li > span {
  background-color: transparent;
  border: 0 none;
  color: #bbb;
  float: left;
  padding: 5px 3px;
}
	
small{
	color: #666;
	line-height: 18px;}
	
.item-img{
	position: relative;
	}
	
.img-caption{
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	text-align: center;
	width: 100%;
	}

/** pratikriya **/
.form-control {
    background: #f0f0f0;
    box-shadow: none;
    border-radius: 0;
}

.form-group label {
  font-weight: normal;
  color: #363636;
}

/** notice **/
.notice .news-list li a {
  font-size: 15px;
  font-weight: 600;
}


	
/** about page **/
.content{
	margin: 0;
}

.content-img{
	float:left;
	margin-right: 15px;
	margin-bottom: 5px;}
	
.content-img img{
	width: 375px;}
	
/** news detail **/
.share-btn{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;}

.share-btn span a{
	color: #fff;
	padding:2px 10px;
	font-size: 12px;
	}

.share-btn span a.facebook{
	background: #4767B1;}	
	
.share-btn span a.twitter{
	background: #00A7E7;}
	
.share-btn span a.google{
	background: #EA4335;}
	
.archive-list{
	border-bottom: 1px solid #ddd;
	padding: 20px 10px;
	}
	
/** program schedule **/
.nav-tabs{
	background: #777;
    	border-bottom: 0;
	}

.nav-tabs > li{
    margin-bottom: 0;
}

.nav-tabs > li > a{
    border: 4px solid transparent;
}
	
.nav-tabs > li > a,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    	color: #fff;
	border-radius: 0;
    	border: 0;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus{
	background: none;
    	border-bottom: 4px solid #00519a;
}


.news-head a:hover{
	color:#333;}
	
.news a.link {
	float: left;
    	color: #00519a;
}

.name h5{
	line-height: 22px;}
	
.media-left, .media > .pull-left {
	padding-right: 15px;
}

.social-tag{
    	margin-bottom: 30px;
}

.social-tag ul li{
    display: inline-block;
    margin-right: 0 5px 5px 0;}

/** gallary page **/
.img-block .detail{
    background: #eee;
    padding: 15px;
    height: 80px;
    overflow: hidden;
    border-bottom: 2px solid #00519a;
}

.img-block:hover .detail{
    background: #00519a;
}

.img-block:hover .detail a,
.img-block:hover .detail h5,
.img-block:hover .detail em{
    color: #fff;
}

.img-block{
    margin-bottom: 30px;
}

.color-red{
    color: #00519a !important;
}

/** price **/
.price-list{
    padding: 10px;
    background: #f1f1f1;
    margin-bottom: 20px;
}


.haat-bajar .text{
    text-align: right;
}

.social-media{
    position: fixed;
    right: 40px;
    top: 220px;
    z-index: 100000;
}

.social-media > a {
    display: block;
}

.blog-content,
.blog-content a{
    color: #444;
}

.author{
    margin-bottom: 0;
    font-size: 12px;
}

.author a{
    color: #00519a; 
    font-size: 12px;
}

.presenter-list{
    padding-bottom: 12px;
    margin-bottom: 12px; 
}

.post{
    color: #00519a;
    margin-bottom: 15px;
}

a.small-btn{
    padding: 3px 7px;
    font-size: 13px;
    background: #2864a2;
    color: #fff;
}

.presenter-list:hover a.small-btn{
    background: #00519a;
}

.name{
    margin-bottom: 3px;
}

.main-content{
    margin-bottom: 30px;
}

.table > thead > tr > th {
    font-weight: 600;
}

.tarrif .table > thead >tr > th{
    border-bottom-color: #00519a;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 1px;
}

.tarrif .table{
    border: 0 solid #ccc;
    border-collapse: collapse;
    font-size: 13px;
}

.list-gap{
    margin-bottom: 50px;
}

.pg-section{
    position: relative;
}

.form-wrap i,
.location i{
    margin-right: 10px;
    color: #2964a0;
}

.polls-ul li{
    list-style: inside disc;
    margin-bottom: 10px;
}

.kura ul li{
    border: 1px solid #eee;
    padding: 5px 8px;
    margin-bottom: 15px;
}

.kura ul li .author{
    color: #333;
    display: block;
    font-style: italic;
    text-align: right;
    font-size: 11px;
    line-height: 18px;
}


	
/** FOOTER **/
	
footer{
	background: #f1f1f1;
	color: #777;
    	font-size: 13px;
}
	
footer p{
	margin-bottom: 0;}
	
footer a{
	color: #777;}

footer a:hover{
    color: #ee3e41;
}

.footer-top{
    padding: 15px;
}

.footer-top .news-head{
    font-weight: 600;
    padding: 0;
    margin-bottom: 15px;
    background: 0;
    color: #000;
}

.footer-top .news-title{
    color: #444;
    font-size: 15px;
}

.footer-top ul li {
    padding: 2px 0;
}

.footer-bottom{
    padding: 15px;
    font-size: 13px;
    color: #fff;
    background: #000;
}

.footer-bottom a{
	color: #fff;
}
	
/** live listen **/
.audio {
	background: #888;
	bottom: 0;
	box-sizing: border-box;
	color: #fff;
	height: 55px;
	overflow: hidden;
	width: 100%;
	z-index: 10000;
}

.live-radio {
  margin-left: 20px;
}

.time{
    color: #064280;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}


.events .event-list div{
    padding: 0;
}


#content .forex li.col1 {
    text-indent: 5px;
    width: 55%;
    float: left;
    line-height: 30px;
    border-top: 1px solid #e4e4e4;
}
#content .forex li.col2,
#content .forex li.col3 {
    text-indent: 5px;
    width: 20%;
    float: left;
    line-height: 30px;
    border-top: 1px solid #e4e4e4;
    text-align: right;
    padding-right: 2.5%;
}

.forex .scroll {
	overflow-x:hidden !important;
	overflow-y:scroll;
	height:216px !important;
}

#content ul.gold-silver li {
    font-size: 13px;
    float: left;
    width: 50%;
    line-height: 22px;
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
}
#content ul.gold-silver li:nth-child(even) {
    text-align: right;
}
